body{
  background-color:#ffcf79;
  font-size:30px;
  }
  .navbar{
  background-color: aquamarine;
}
.navbar-header{
  color:blue;
}
.row{
  background-color: lavender;
}
.col1{
  margin: 3px;
  min-height: 300px;
  text-align: center;
  background-color: silver;
  color: blue;
}
.col2{
  margin: 3px;
  min-height: 400px;
  text-align: center;
  background-color:lavender;
}
 
.col3{
  margin: 3px;
  min-height: 50px;
  text-align: center;
  background-color: orange;
}
h3{
  color:green;
  text-decoration:overline underline;
  text-align:center;
  }
  p{
    color:green;
    font-size:30px;
    font-family:helvetica;
    
    }
    .para1{
      color:purple;
      font-size:20px;
      font-family:helvetica;
     
      }
      .para2{
        color:red;
        font-size:20px;
        font-family:helvetica;
        
      }